@using BzrVirtualScroller.Components
@using Microsoft.Extensions.Logging
@inject ILogger<object> Logger
@page "/scrollInContainer"

    <h1>Virtual scroller in its own scroll container</h1>
    <div id="myScrollContainer" style="overflow-y: scroll; height: 500px;">
        <VirtualScroller TItem="VirtualScrollerEntry" ItemProducer="DummyDataLoader.LoadDataAsync" ItemKeySelector="item => item.Id" ScrollContainerElementSelector="#myScrollContainer" />
    </div>